@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --primary: #0072b4 ;
  --primaryDark: #001838;
  --primaryLight: #027dc5;
  --navbar: #002555 ;
  --textPrimary: #000;
  --textWhite: #fff;
  --defaultPadding: 8rem;
  --paddingUpperNav: 8rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
